<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cryptomonitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".database.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_crypto"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_crypto_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.TransactionActivity"></activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity
            android:name=".activity.DetailedCoin"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DetailedActivityTheme" />
        <activity
            android:name=".buy.BuyActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />

        <receiver
            android:name=".widget.WidgetProvider"
            android:label="@string/favorites">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata" />
        </receiver>

        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS">

        </service>
    </application>

</manifest>